$primary-color: #0584FE;
$gradient-color: linear-gradient(90deg, #000000 30%, #1C2734 73%);
$white-color: #FFFFFF;
$input-border-color: 1px solid #BCBCBC;
$text-accent-color: #1253A2;
$button-hover-color: #2493ff;