button {
  padding: 9px 18px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: 0.3s;
  font-size: 18px;
  cursor: pointer;

  &.default {
    background: $primary-color;
    color: $white-color;
    border: none;

    &:hover{
      background: $button-hover-color;
    }
  }
  &.secondary {
    border: 1px solid $primary-color;
    background: none;
    color: black;

    span{
      color: $text-accent-color;
      font-size: 15px;
    }
  }
}